@model List<Empleado>

<h4>SessionSalarios</h4>

<a asp-asp-controller="Empleados" asp-action="SumaSalarios">
    Suma salarial Session
</a>

<h4>
    @ViewData["MENSAJE"]
</h4>

<ul class="list-group">
    @foreach(Empleado emp in Model)
    {
        <li class="list-group-item">
            @emp.Apellido
            <a asp-asp-controller="Empleados" asp-action="SessionSalarios" asp-route-salario="@emp.Salario">
                Almacenar salario
            </a>
        </li>
    }
</ul>