<h4>
    Upload files
</h4>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="fichero"  class="form-control" />
    <button class="btn btn-info">
        Upload File
    </button>
</form>

<h2 style ="color:red">
    @ViewData["MENSAJE"]
</h2>

<img src="~/uploads/batman.jpg" style="width: 450px; height: 400px;" />