<h4>Login Usuario</h4>

<form method="post">
    <label>Nombre de usuario:</label>
    <input type="text" name="usuario" class="form-control" />
    <button class="btn btn-info">
        Login
    </button>
</form>