<h4>Register</h4>

<form method="post" enctype="multipart/form-data">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control" />
    <label>Email: </label>
    <input type="text" name="email" class="form-control" />
    <label>Imagen: </label>
    <input type="file" name="imagen" class="form-control" />
    <label>Password: </label>
    <input type="text" name="password" class="form-control" />
    <button class="btn btn-success">
        Registrarse
    </button>
</form>

<h4>@ViewData["MENSAJE"]</h4>